.todo-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #089f4c;
  border-radius: 5px;
  justify-content: space-around;
  padding: 2rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #0cdd6a;
  border-radius: 5px;
  justify-content: space-around;
  padding: 2rem;
  column-gap: 20px;
}