#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.timers {
  display: flex;
  border: 1px solid #ff0000;
  border-radius: 5px;
  justify-content: space-around;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  border-left: 1px solid #4400ff;
  padding: 1rem;
}

.todo-list {
  flex: 1;
  padding: 1rem;
}

