/* --primary: #c7b41b;
--secondary: #e6a8a1;
--tertiary: #ede9e3;
--other: #b8a9a1; */


#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.main-section {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timers {
  display: flex;
  border: 1px solid #ff0000;
  border-radius: 5px;
  justify-content: space-around;
  padding: 2rem;
  column-gap: 20px;
}

.sidebar {
  flex: 1;
  border-left: 1px solid #393939;
  padding: 1rem;
}

.todo-list {
  flex: 1;
  padding: 1rem;
}

